<%- include('./boilerplate/header.ejs') %> 
<body>
    <%- include('./boilerplate/navbar.ejs') %> 
<br/>
<!-- profile page starts from here  -->
<div class="p-16 bg-blue-600 border-blue-700">
    <div class="p-8 bg-white border-blue-700 shadow mt-24 rounded-lg">
      <div class="grid grid-cols-1 md:grid-cols-3  justify-center">
        <div></div>
        <div class="relative flex items-center py-6">
          <div class="  w-48 h-48 bg-blue-200  mx-auto rounded-full shadow-2xl absolute inset-x-0 top-0 -mt-24 flex items-center justify-center text-indigo-500">
            <img class=" w-48 h-48 bg-blue-200  mx-auto rounded-full " src="https://mdbootstrap.com/img/new/standard/nature/184.jpg" alt="user_image">
          </div>
        </div>
      </div>
    
      <div class="mt-20 text-center border-b pb-12">
        <!-- DISPLAY NAME -->
        <h1 class="text-4xl font-medium text-gray-700"><%= %> <span class="font-light text-gray-500">20</span></h1>
        <!-- DISPLAY LOCATION IF REQUIRED -->
        <p class="font-light text-gray-600 mt-3">India, banglore</p>
        <!-- DISPLAY WORK  -->
        <p class="mt-8 text-gray-500">Developer- @Drait</p>
        <p class="mt-2 text-gray-500">Dr ambedkar institute of technology - vtu</p>
      </div>
      <!-- DESCRIPTION -->
      <div class="mt-12 flex flex-col justify-center">
        <p class="text-gray-600 text-center font-light lg:px-16">Description<br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident sed recusandae tempore commodi temporibus culpa fuga esse aliquid quae aperiam maiores reprehenderit nemo non nam aspernatur deleniti, corrupti, a quia. </p>
      </div>
      <br>
      <div class="text-center">
        <h1 class="text-2xl">MY POSTS</h1>
        <!-- POST HERE TAKE FROM DB AND DISPLAY HERE -->
    </div>
    </div>
</div>
</body>
<footer class="mt-auto">
    <div class="px-10 py-8 bg-slate-100 ">
        <p class="text-gray-400 text-center">By Nishanth and Mehul &copy;copyright reserved 2023 </p>
    </div>
</footer>
</html>
